{% load static %}
<!doctype html>
<html class="no-js" lang="en">

    <head>
        <!-- meta data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!--font-family-->
		<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        
        <!-- title of site -->
        <title>Directory Landing Page</title>

        <!-- For favicon png -->
		<link rel="shortcut icon" type="image/icon" href="{% static 'logo/favicon.png' %}"/>
       
        <!--font-awesome.min.css-->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">

        <!--linear icon css-->
		<link rel="stylesheet" href="{% static 'css/linearicons.css' %}">

		<!--animate.css-->
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">

		<!--flaticon.css-->
        <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">

		<!--slick.css-->
        <link rel="stylesheet" href="{% static 'css/slick.css' %}">
		<link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">
		
        <!--bootstrap.min.css-->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		
		<!-- bootsnav -->
		<link rel="stylesheet" href="{% static 'css/bootsnav.css' %}" >	
        
        <!--style.css-->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        
        <!--responsive.css-->
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
		<style>
			#chatbot{
				margin-left: auto;
				margin-right: auto;
				width: 70%;
				margin-top: 50px;
				border-radius: 10px;
				border: 1px solid black;
			}
			
			.botText{
				margin: 10px;
				font-family: monospace;
				font-size: 14px;
				text-align: left;
				line-height: 25px;
				color: rgb(109, 111,109);
			}
			
			#userInput{
				margin-left: auto;
				margin-right: auto;
				margin-top: 40px;
				width: 70%;
				text-align: center;
			}
			
			#textInput{
				border: 3px solid white;
				border-bottom: 3px solid #9e9d9d;
				font-family: monospace;
				font-size: 14px;
				width: 60%;
				padding: 16px;
				color: black;
			}
			
			#buttonInput{
				padding: 9px;
				font-family: monospace;
				font-size: 14px;
				border: 3px solid #ba0000;
				background-color: rgb(205 40 40);
				color: white;
				border-radius: 10px;
			}
			.userText{
				margin: 10px;
				font-family: monospace;
				font-size: 14px;
				text-align: right;
				line-height: 25px;
				color: rgb(109, 111,109);
			}
		</style>
        
    </head>
	
	<body>
		<!--header-top start -->
		<header id="header-top" class="header-top">
			<ul>
				<li>
					<div class="header-top-left">
						
					</div>
				</li>
				<li class="head-responsive-right pull-right">
					<div class="header-top-right">
						<ul>
							<li class="header-top-contact">
								+91 9168040749
							</li>
							<li class="header-top-contact">
								<a href="#">sign in</a>
							</li>
							<li class="header-top-contact">
								<a href="#">register</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
					
		</header><!--/.header-top-->
		<!--header-top end -->

		<!-- top-area Start -->
		<section class="top-area">
			<div class="header-area">
				<!-- Start Navigation -->
			    <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"  data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

			        <div class="container">

			            <!-- Start Header Navigation -->
			            <div class="navbar-header">
			                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
			                    <i class="fa fa-bars"></i>
			                </button>
			                <a class="navbar-brand" href="index.html">Policy<span>guide</span></a>

			            </div><!--/.navbar-header-->
			            <!-- End Header Navigation -->

			            <!-- Collect the nav links, forms, and other content for toggling -->
			            
			        </div><!--/.container-->
			    </nav><!--/nav-->
			    <!-- End Navigation -->
			</div><!--/.header-area-->
		    <div class="clearfix"></div>

		</section><!-- /.top-area-->
		<!-- top-area End -->

		<!--welcome-hero start -->
		<section id="home" class="welcome-hero">
			<div class="container">
				<div class="welcome-hero-txt">
					<h2>best place to find answers to your questions <br></h2>
					
				</div>
			</div>

		</section><!--/.welcome-hero-->
		<!--welcome-hero end -->
         <div style="top: -10px; position: relative;">
			<div id="chatbot">
				<p class="botText"><span>Hi there</span></p>
			</div>
			<div id="userInput">
				<input type="text" id = "textInput" name = "userMessage" placeholder="Type your question here...."/>
				<button type="submit" value="Send" id="buttonInput" class="welcome-hero-btn" >Send</button>
			</div>
		 </div>
        <br>
		<!--footer start-->
		<footer id="footer"  class="footer">
			<div class="container">
				<div class="footer-menu">
		           	<div class="row">
			           	<div class="col-sm-3">
			           		 <div class="navbar-header">
				                <a class="navbar-brand" href="index.html">Policy<span>guide</span></a>
				            </div><!--/.navbar-header-->
			           	</div>
		           </div>
				</div>
				<div class="hm-footer-copyright">
					<div class="row">
						<div class="col-sm-5">
							<p>
								&copy;copyright. designed and developed by <a href="https://www.themesine.com/">themesine</a>
							</p><!--/p-->
						</div>
						<div class="col-sm-7">
							<div class="footer-social">
								<span><i class="fa fa-phone"> +1  (222) 777 8888</i></span>
								<a href="#"><i class="fa fa-facebook"></i></a>	
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
							</div>
						</div>
					</div>
					
				</div><!--/.hm-footer-copyright-->
			</div><!--/.container-->

			<div id="scroll-Top">
				<div class="return-to-top">
					<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div>
				
			</div><!--/.scroll-Top-->
			
        </footer><!--/.footer-->
		<!--footer end-->
		
		<!-- Include all js compiled plugins (below), or include individual files as needed -->
        <script>
			function getUserResponse(){
				var userText = $('#textInput').val();
				var userHTML = "<p class = 'userText'>User : <span>"+userText+"</span></p>";
				$('#textInput').val("");
		
				$('#chatbot').append(userHTML);
				$.get('/name_of_app/getResponse',{userMessage : userText}).done(function(data){
					   var returnedMsg = "<p class = 'botText'>Chatbot : <span>"+data+"</span></p>"
					   $('#chatbot').append(returnedMsg);
				})
			}
		
			$('#buttonInput').click(function(){
				getUserResponse();
			})
		</script>
		<script src="assets/js/jquery.js"></script>
        
        <!--modernizr.min.js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		
		<!--bootstrap.min.js-->
        <script src="assets/js/bootstrap.min.js"></script>
		
		<!-- bootsnav js -->
		<script src="assets/js/bootsnav.js"></script>

        <!--feather.min.js-->
        <script  src="assets/js/feather.min.js"></script>

        <!-- counter js -->
		<script src="assets/js/jquery.counterup.min.js"></script>
		<script src="assets/js/waypoints.min.js"></script>

        <!--slick.min.js-->
        <script src="assets/js/slick.min.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
		     
        <!--Custom JS-->
        <script src="assets/js/custom.js"></script>
        
    </body>
	
</html>