<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SchemeSage</title>
    <link rel="stylesheet" href="static/styles.css">

    <!-- Favicon -->
    <link href="static/images/chatbot.ico" rel="icon">

</head>
<body>
    <header>
        <div class="nav-container">
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Schemes</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-content">
            <h1>Chatbot for Government Schemes</h1>
            <p>Your gateway to exploring and understanding government schemes across various sectors. Simplified for citizens to access the benefits they deserve.</p>
        </div>
    </header>

    <div class="container">
        <!-- Health Section -->
        <div class="item health">
            <a href="/health">
                <img src="static/images/health_care-removebg-preview.png" alt="Health">
                <h2>Health</h2>
            </a>
        </div>

        <!-- Women Section -->
        <div class="item women">
            <a href="/women">
                <img src="static/images/women.png" alt="Women">
                <h2>Women</h2>
            </a>
        </div>

        <!-- Education Section -->
        <div class="item education">
            <a href="/education">
                <img src="static/images/Edu-removebg-preview.png" alt="Education">
                <h2>Education</h2>
            </a>
        </div>

        <!-- Agriculture Section -->
        <div class="item agriculture">
            <a href="/agriculture">
                <img src="static/images/pngtree-labor-agriculture-farmers-busy-planting-seedlings-png-image_2814274-removebg-preview.png" alt="Agriculture">
                <h2>Agriculture</h2>
            </a>
        </div>
    </div>
    
    <footer>
        <div class="footer-content">
            <p>&copy; 2024 SchemeSage. All rights reserved.</p>
            <p>Contact us: <a href="mailto:schemesage@gmail.com">schemesage@gmail.com</a></p>
        </div>
    </footer>
</body>
</html>
